hello-world.spec.js
package-lock.json
package.json
node_modules
babel.config.js
.npmrc
.eslintrc

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/